<div
  class="inputContainer flex flex-col items-center justify-center gap-2 bg-white rounded p-8 shadow-md"
>
  <header class="">
    <h1 class="text-5xl font-semibold text-sky-900 text-center">
      It's Time To Eat
    </h1>
    <div class="subtext">
      <p class="text-orange-800 p-0 m-0 max-w-md text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      </p>
    </div>
  </header>
  <div class="">
    <form action="submit">
      <input
        type="email"
        placeholder="Enter your email"
        class="emailInput bg-slate-200 rounded p-2 shadow-sm"
      />
      <button
        class="reserve-btn rounded text-white font-semibold bg-orange-400 px-4 py-2 shadow-sm"
      >
        Reserve
      </button>
    </form>
  </div>
</div>
