<div class="text-xs text-white">
  <ul class="topbar flex flex-row justify-between mx-10 items-center">
    <div class="info-container flex flex-row gap-2">
      <li class="phone-number">
        <div class="phone-icon"></div>
        <p>+1(555)123-4567</p>
      </li>
      <li class="email">
        <div class="email-icon"></div>
        <p>thebesteats&#64;mycompany.com</p>
      </li>
    </div>

    <div class="center-icon">
      <fa-icon [icon]="faFire"></fa-icon>
    </div>
    <div href="" class="social-container flex flex-row items-center gap-2">
      <a href="" class="social-icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="" class="social-icon"
        ><fa-icon [icon]="faInstagram"></fa-icon
      ></a>
      <a href="" class="social-icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="" class="social-icon"><fa-icon [icon]="faYelp"></fa-icon></a>
    </div>
  </ul>
</div>
