<div class="hero-content">
  <div
    class="heroImg flex flex-col p-16 justify-center items-center"
    lazyLoad="true"
  >
    <div
      class="container inputContainer grid grid-cols-1 gap-2 bg-white max-w-2xl rounded p-8 shadow-md"
    >
      <header class="">
        <h1 class="text-5xl font-semibold text-sky-900">It's Time To Eat</h1>
        <div class="subtext">
          <p class="text-orange-800 p-0 m-0 max-w-md text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          </p>
        </div>
      </header>
      <div class="">
        <form action="submit">
          <input
            type="email"
            placeholder="Enter your email"
            class="emailInput bg-slate-200 w-full rounded p-2 shadow-sm"
          />
        </form>
      </div>

      <div class="btn-container grid grid-cols-2 gap-2 max-w-full">
        <button
          class="reserve-btn rounded text-white font-semibold bg-orange-400 p-2 shadow-sm"
        >
          Reserve
        </button>
        <button
          class="reserve-btn rounded text-white font-semibold bg-orange-400 p-2 shadow-sm"
        >
          Takeout
        </button>
      </div>
    </div>
  </div>
</div>
