<ul
  class="decoration-none flex flex-row justify-center items-center gap-4 m-16"
>
  <div class="dealPreviewContainer">
    <div class="dealsPreviewImg">
      <img [lazyLoad]="imgPreview1" src="" alt="" class="rounded" />
    </div>
    <h3 class="dealsPreviewTitle text-sm">Title</h3>
    <div class="dealsPreviewBadge">Badge</div>
  </div>
  <div class="dealPreviewContainer">
    <div class="dealsPreviewImg">
      <img [lazyLoad]="imgPreview2" src="" alt="" class="rounded" />
    </div>
    <h3 class="dealsPreviewTitle text-sm">Title</h3>
    <div class="dealsPreviewBadge">Badge</div>
  </div>
  <div class="dealPreviewContainer">
    <div class="dealsPreviewImg">
      <img [lazyLoad]="imgPreview3" src="" alt="" class="rounded" />
    </div>
    <h3 class="dealsPreviewTitle text-sm">Title</h3>
    <div class="dealsPreviewBadge">Badge</div>
  </div>
  <div class="dealPreviewContainer">
    <div class="dealsPreviewImg">
      <img [lazyLoad]="imgPreview4" src="" alt="" class="rounded" />
    </div>
    <h3 class="dealsPreviewTitle text-sm">Title</h3>
    <div class="dealsPreviewBadge">Badge</div>
  </div>
</ul>
