<header class="header fixed w-full top-0">
  <div class="topbarContainer bg-slate-800 top-0">
    <app-header></app-header>
  </div>
  <div class="">
    <app-nav></app-nav>
  </div>
</header>

<main>
  <section class="content mt-36">
    <router-outlet></router-outlet>
    <div class="hero-container">
      <app-hero></app-hero>
    </div>
  </section>
  <section class="content h-1/2">
    <app-deals></app-deals>
  </section>
  <section class="content h-1/2">
    <app-details></app-details>
  </section>
</main>
