<div class="detailsContainer flex flex-col gap-10 justify-center items-center">
  <header>
    <h3 class="text-2xl font-bold">How does it work</h3>
  </header>

  <div
    class="detailsContent flex flex-row gap-12 justify-center items-center px-20"
  >
    <div
      class="mapDetailContainer flex flex-col justify-center items-center w-1/2"
    >
      <fa-icon
        [icon]="faMapPin"
        class="text-5xl text-orange-400 bg-none shadow-sm"
      ></fa-icon>
      <h3 class="text-xs font-bold">Select Location</h3>
      <p class="text-xs w-1/2 a text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      </p>
    </div>
    <div
      class="menuDetailContainer flex flex-col justify-center items-center w-1/2"
    >
      <fa-icon
        [icon]="faBookOpen"
        class="text-5xl text-orange-400 bg-none shadow-sm"
      ></fa-icon>
      <h3 class="text-xs font-bold">Select Location</h3>
      <p class="text-xs w-1/2 a text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      </p>
    </div>
    <div
      class="paymentDetailContainer flex flex-col justify-center items-center w-1/2"
    >
      <fa-icon
        [icon]="faDollarSign"
        class="text-5xl text-orange-400 bg-none shadow-sm"
      ></fa-icon>
      <h3 class="text-xs font-bold">Select Location</h3>
      <p class="text-xs w-1/2 a text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      </p>
    </div>
    <div
      class="personDetailContainer flex flex-col justify-center items-center w-1/2"
    >
      <fa-icon
        [icon]="faUser"
        class="text-5xl text-orange-400 bg-none shadow-sm"
      ></fa-icon>
      <h3 class="text-xs font-bold">Select Location</h3>
      <p class="text-xs w-1/2 a text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      </p>
    </div>
  </div>
</div>
